prod/funct_testing_project_v4.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1616.0,
        "y" : 2200.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "id" : "27dcbcca-2b29-3a0b-806b-df70ee33938d",
        "name" : "input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "ac5a62ae-c75c-3899-a11b-353e2b60f233",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "id" : "e0c91a3a-0bd0-3c18-a7d9-206458aa2e76",
        "name" : "MAIN_PG",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "76b5f672-30a1-317d-a54d-81dd8ea8b305",
        "id" : "76a573aa-3a40-3e35-914d-f6c549d72991",
        "name" : "input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "f5702d3c-401a-308b-af4a-5cbe2fc8531a",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "id" : "2980726b-59ed-3cc2-b2c8-7c5af77c3a24",
        "name" : "PG2",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 888.0,
        "y" : 2648.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "id" : "8baa83bd-a787-35bb-bd16-94854eb32020",
        "name" : "input Test Data",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "061414f8-b7d1-3cf0-adc2-fa68d03c5b94",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "id" : "6ebb4ec9-27ec-3ebf-832b-b1c5d51f8074",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "id" : "8baa83bd-a787-35bb-bd16-94854eb32020",
        "name" : "input Test Data",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "812a04b3-ff1e-3bd0-abfc-af0522c8df37",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "76b5f672-30a1-317d-a54d-81dd8ea8b305",
        "id" : "15672df0-f4c6-3cff-a06b-b3790711b33e",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1000.0,
        "y" : 2224.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "id" : "60cfd5a2-f058-3d07-a718-a23a1bac7878",
        "name" : "input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "9a7da06d-bf05-37a0-826b-9d079f50454b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "id" : "845be8af-7743-3e69-b073-bdcd13781fdf",
        "name" : "PG1",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1824.0,
        "y" : 2640.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "id" : "8baa83bd-a787-35bb-bd16-94854eb32020",
        "name" : "input Test Data",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "01dfd4be-fe9c-31fa-b6a0-ab3fae2640db",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "id" : "ca9e5e6e-d6d6-304f-a710-a3bda20ec9ed",
        "name" : "out Test Data",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "funnels" : [ ],
    "identifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "funct_testing_project_v4",
    "outputPorts" : [ ],
    "position" : {
      "x" : 488.0,
      "y" : 112.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "ca9e5e6e-d6d6-304f-a710-a3bda20ec9ed",
          "name" : "out Test Data",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "435468c0-93d3-3bb8-953e-f6ac38346663",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "test_Data" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "8fef9e61-ba5d-38a2-a9ca-994512ba1ee2",
          "name" : "Route TestData & Prod Data",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "652e4cd3-5a08-3ae9-994e-6d752d2ebef2",
          "name" : "IP Address content to Attribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "6dfbba51-a750-363e-b38a-a92d4fcebb46",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "27dcbcca-2b29-3a0b-806b-df70ee33938d",
          "name" : "input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -224.0,
          "y" : 336.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "8fef9e61-ba5d-38a2-a9ca-994512ba1ee2",
          "name" : "Route TestData & Prod Data",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "b3079752-e83b-3717-a2db-ca54da07cd86",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "54c2f836-ea82-3681-8729-f7f0ace9919d",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -224.0,
          "y" : 184.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "54c2f836-ea82-3681-8729-f7f0ace9919d",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "680b0765-6a50-3f94-9265-57ea9d30e148",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "11d44440-1aa7-30cf-b393-da54bad9fb1d",
          "name" : "Get Location",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ {
          "x" : -224.0,
          "y" : 456.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "6e84220d-f197-36fd-b729-0a65802d1570",
          "name" : "Prod Data",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "a5e890f2-8aed-3602-b2d9-7a661ecac1f6",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "original_Data" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "8fef9e61-ba5d-38a2-a9ca-994512ba1ee2",
          "name" : "Route TestData & Prod Data",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ {
          "x" : -224.0,
          "y" : 0.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "11d44440-1aa7-30cf-b393-da54bad9fb1d",
          "name" : "Get Location",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "cdb00997-e784-3fcb-a0ef-f670df7ac651",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "652e4cd3-5a08-3ae9-994e-6d752d2ebef2",
          "name" : "IP Address content to Attribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 1,
        "bends" : [ {
          "x" : -224.0,
          "y" : -144.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "652e4cd3-5a08-3ae9-994e-6d752d2ebef2",
          "name" : "IP Address content to Attribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "02dec598-ec48-3e35-8da0-c3559c6dc58d",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
          "id" : "f39a34d4-a8d5-3792-8bef-3fd4d743bb89",
          "name" : "Generate Prod Data",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
      "inputPorts" : [ {
        "comments" : "",
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "27dcbcca-2b29-3a0b-806b-df70ee33938d",
        "name" : "input",
        "position" : {
          "x" : -736.0,
          "y" : -104.0
        },
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "height" : 1096.0,
        "identifier" : "908b45dd-8abc-31d9-9497-53f661686353",
        "label" : "Traitement sur l'@ IP",
        "position" : {
          "x" : -384.0,
          "y" : -464.0
        },
        "style" : {
          "font-size" : "20px"
        },
        "width" : 704.0
      } ],
      "name" : "MAIN_PG",
      "outputPorts" : [ {
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "ca9e5e6e-d6d6-304f-a710-a3bda20ec9ed",
        "name" : "out Test Data",
        "position" : {
          "x" : 680.0,
          "y" : 352.0
        },
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 1624.0,
        "y" : 2336.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "652e4cd3-5a08-3ae9-994e-6d752d2ebef2",
        "name" : "IP Address content to Attribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : -136.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Return Type" : "json",
          "Null Value Representation" : "empty string",
          "ip_address" : "$[\"input\"]",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "ip_address" : {
            "displayName" : "ip_address",
            "identifiesControllerService" : false,
            "name" : "ip_address",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "f39a34d4-a8d5-3792-8bef-3fd4d743bb89",
        "name" : "Generate Prod Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : -280.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "type_data" : "prod",
          "File Size" : "100B",
          "generate-ff-custom-text" : "{\"ip_address\":\"8.8.8.8\"}",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "type_data" : {
            "displayName" : "type_data",
            "identifiesControllerService" : false,
            "name" : "type_data",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "50 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "54c2f836-ea82-3681-8729-f7f0ace9919d",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : 168.0
        },
        "properties" : {
          "Destination" : "flowfile-content",
          "city" : "$.city",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "city" : {
            "displayName" : "city",
            "identifiesControllerService" : false,
            "name" : "city",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "11d44440-1aa7-30cf-b393-da54bad9fb1d",
        "name" : "Get Location",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : 16.0
        },
        "properties" : {
          "use-etag" : "false",
          "Proxy Type" : "http",
          "cookie-strategy" : "DISABLED",
          "Connection Timeout" : "5 secs",
          "send-message-body" : "true",
          "set-form-filename" : "true",
          "Always Output Response" : "false",
          "etag-max-cache-size" : "10MB",
          "Content-Encoding" : "DISABLED",
          "disable-http2" : "False",
          "idle-timeout" : "5 mins",
          "Use Chunked Encoding" : "false",
          "Follow Redirects" : "True",
          "Remote URL" : "http://ip-api.com/json/${ip_address}",
          "Content-Type" : "${mime.type}",
          "flow-file-naming-strategy" : "RANDOM",
          "max-idle-connections" : "5",
          "Read Timeout" : "15 secs",
          "Max Length To Put In Attribute" : "256",
          "ignore-response-content" : "false",
          "Digest Authentication" : "false",
          "HTTP Method" : "GET",
          "Add Response Headers to Request" : "false",
          "Include Date Header" : "True",
          "Penalize on \"No Retry\"" : "false"
        },
        "propertyDescriptors" : {
          "Proxy Host" : {
            "displayName" : "Proxy Host",
            "identifiesControllerService" : false,
            "name" : "Proxy Host",
            "sensitive" : false
          },
          "Attributes to Send" : {
            "displayName" : "Request Header Attributes Pattern",
            "identifiesControllerService" : false,
            "name" : "Attributes to Send",
            "sensitive" : false
          },
          "use-etag" : {
            "displayName" : "Response Cache Enabled",
            "identifiesControllerService" : false,
            "name" : "use-etag",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Proxy Type" : {
            "displayName" : "Proxy Type",
            "identifiesControllerService" : false,
            "name" : "Proxy Type",
            "sensitive" : false
          },
          "Basic Authentication Password" : {
            "displayName" : "Request Password",
            "identifiesControllerService" : false,
            "name" : "Basic Authentication Password",
            "sensitive" : true
          },
          "cookie-strategy" : {
            "displayName" : "Response Cookie Strategy",
            "identifiesControllerService" : false,
            "name" : "cookie-strategy",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Socket Connect Timeout",
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "send-message-body" : {
            "displayName" : "Request Body Enabled",
            "identifiesControllerService" : false,
            "name" : "send-message-body",
            "sensitive" : false
          },
          "set-form-filename" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService" : false,
            "name" : "set-form-filename",
            "sensitive" : false
          },
          "Always Output Response" : {
            "displayName" : "Response Generation Required",
            "identifiesControllerService" : false,
            "name" : "Always Output Response",
            "sensitive" : false
          },
          "etag-max-cache-size" : {
            "displayName" : "Response Cache Size",
            "identifiesControllerService" : false,
            "name" : "etag-max-cache-size",
            "sensitive" : false
          },
          "Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "identifiesControllerService" : false,
            "name" : "Content-Encoding",
            "sensitive" : false
          },
          "disable-http2" : {
            "displayName" : "HTTP/2 Disabled",
            "identifiesControllerService" : false,
            "name" : "disable-http2",
            "sensitive" : false
          },
          "idle-timeout" : {
            "displayName" : "Socket Idle Timeout",
            "identifiesControllerService" : false,
            "name" : "idle-timeout",
            "sensitive" : false
          },
          "Put Response Body In Attribute" : {
            "displayName" : "Response Body Attribute Name",
            "identifiesControllerService" : false,
            "name" : "Put Response Body In Attribute",
            "sensitive" : false
          },
          "Use Chunked Encoding" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService" : false,
            "name" : "Use Chunked Encoding",
            "sensitive" : false
          },
          "Follow Redirects" : {
            "displayName" : "Response Redirects Enabled",
            "identifiesControllerService" : false,
            "name" : "Follow Redirects",
            "sensitive" : false
          },
          "Remote URL" : {
            "displayName" : "HTTP URL",
            "identifiesControllerService" : false,
            "name" : "Remote URL",
            "sensitive" : false
          },
          "form-body-form-name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "identifiesControllerService" : false,
            "name" : "form-body-form-name",
            "sensitive" : false
          },
          "Content-Type" : {
            "displayName" : "Request Content-Type",
            "identifiesControllerService" : false,
            "name" : "Content-Type",
            "sensitive" : false
          },
          "flow-file-naming-strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "identifiesControllerService" : false,
            "name" : "flow-file-naming-strategy",
            "sensitive" : false
          },
          "max-idle-connections" : {
            "displayName" : "Socket Idle Connections",
            "identifiesControllerService" : false,
            "name" : "max-idle-connections",
            "sensitive" : false
          },
          "invokehttp-proxy-user" : {
            "displayName" : "Proxy Username",
            "identifiesControllerService" : false,
            "name" : "invokehttp-proxy-user",
            "sensitive" : false
          },
          "Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "identifiesControllerService" : false,
            "name" : "Read Timeout",
            "sensitive" : false
          },
          "Max Length To Put In Attribute" : {
            "displayName" : "Response Body Attribute Size",
            "identifiesControllerService" : false,
            "name" : "Max Length To Put In Attribute",
            "sensitive" : false
          },
          "invokehttp-proxy-password" : {
            "displayName" : "Proxy Password",
            "identifiesControllerService" : false,
            "name" : "invokehttp-proxy-password",
            "sensitive" : true
          },
          "ignore-response-content" : {
            "displayName" : "Response Body Ignored",
            "identifiesControllerService" : false,
            "name" : "ignore-response-content",
            "sensitive" : false
          },
          "Proxy Port" : {
            "displayName" : "Proxy Port",
            "identifiesControllerService" : false,
            "name" : "Proxy Port",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Digest Authentication" : {
            "displayName" : "Request Digest Authentication Enabled",
            "identifiesControllerService" : false,
            "name" : "Digest Authentication",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Add Response Headers to Request" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "identifiesControllerService" : false,
            "name" : "Add Response Headers to Request",
            "sensitive" : false
          },
          "oauth2-access-token-provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "identifiesControllerService" : true,
            "name" : "oauth2-access-token-provider",
            "sensitive" : false
          },
          "Basic Authentication Username" : {
            "displayName" : "Request Username",
            "identifiesControllerService" : false,
            "name" : "Basic Authentication Username",
            "sensitive" : false
          },
          "Include Date Header" : {
            "displayName" : "Request Date Header Enabled",
            "identifiesControllerService" : false,
            "name" : "Include Date Header",
            "sensitive" : false
          },
          "Penalize on \"No Retry\"" : {
            "displayName" : "Request Failure Penalization Enabled",
            "identifiesControllerService" : false,
            "name" : "Penalize on \"No Retry\"",
            "sensitive" : false
          },
          "Useragent" : {
            "displayName" : "Request User-Agent",
            "identifiesControllerService" : false,
            "name" : "Useragent",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "6e84220d-f197-36fd-b729-0a65802d1570",
        "name" : "Prod Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : 472.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4aa119c3-492b-37bb-92a1-b4b381e9b155",
        "identifier" : "8fef9e61-ba5d-38a2-a9ca-994512ba1ee2",
        "name" : "Route TestData & Prod Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -96.0,
          "y" : 320.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "original_Data" : "${type_data:equals(\"prod\")}",
          "test_Data" : "${type_data:equals(\"test\")}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "original_Data" : {
            "displayName" : "original_Data",
            "identifiesControllerService" : false,
            "name" : "original_Data",
            "sensitive" : false
          },
          "test_Data" : {
            "displayName" : "test_Data",
            "identifiesControllerService" : false,
            "name" : "test_Data",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "76b5f672-30a1-317d-a54d-81dd8ea8b305",
      "inputPorts" : [ {
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "76b5f672-30a1-317d-a54d-81dd8ea8b305",
        "identifier" : "76a573aa-3a40-3e35-914d-f6c549d72991",
        "name" : "input",
        "position" : {
          "x" : -3060.5217103643636,
          "y" : 2728.471644802002
        },
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "name" : "PG2",
      "outputPorts" : [ {
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "76b5f672-30a1-317d-a54d-81dd8ea8b305",
        "identifier" : "15672df0-f4c6-3cff-a06b-b3790711b33e",
        "name" : "output",
        "position" : {
          "x" : -2649.5217103643636,
          "y" : 2785.471644802002
        },
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 1136.0,
        "y" : 2352.0
      },
      "processGroups" : [ ],
      "processors" : [ ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "4e5ca9ca-220f-394e-9f6f-3fa3e44ee7a3",
          "name" : "validate Data",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "b6bb5c0e-a0ca-31bb-90fa-2a8f2c4d9a09",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "0479b59a-6e67-3a8a-bad5-5d3f74bf17f1",
          "name" : "ExtractText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "0479b59a-6e67-3a8a-bad5-5d3f74bf17f1",
          "name" : "ExtractText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "0fa637bb-0735-3ad6-bc69-6085fb11e3bc",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "8baa83bd-a787-35bb-bd16-94854eb32020",
          "name" : "input Test Data",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "8c63414b-c7ab-31a0-8664-62598713a19e",
          "name" : "Invalid Data",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "04d423e8-f9e7-33df-b8b4-f9571ef850f8",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "4e5ca9ca-220f-394e-9f6f-3fa3e44ee7a3",
          "name" : "validate Data",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "def979df-8af2-3db1-ab41-b83e371676cf",
          "name" : "Valide Data",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "aabcb42a-de4f-3f45-bf39-8a94b583ce27",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "valide_Data" ],
        "source" : {
          "comments" : "",
          "groupId" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
          "id" : "4e5ca9ca-220f-394e-9f6f-3fa3e44ee7a3",
          "name" : "validate Data",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
      "inputPorts" : [ {
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "8baa83bd-a787-35bb-bd16-94854eb32020",
        "name" : "input Test Data",
        "position" : {
          "x" : -832.0,
          "y" : -248.0
        },
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "name" : "PG Monitoring",
      "outputPorts" : [ ],
      "position" : {
        "x" : 1160.0,
        "y" : 2728.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "def979df-8af2-3db1-ab41-b83e371676cf",
        "name" : "Valide Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 464.0,
          "y" : 16.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#41a379"
        },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "0479b59a-6e67-3a8a-bad5-5d3f74bf17f1",
        "name" : "ExtractText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -416.0,
          "y" : -296.0
        },
        "properties" : {
          "Enable Unicode Predefined Character Classes" : "false",
          "Permit Whitespace and Comments in Pattern" : "false",
          "Enable Unicode-aware Case Folding" : "false",
          "Enable DOTALL Mode" : "false",
          "Enable Unix Lines Mode" : "false",
          "extract-text-enable-named-groups" : "false",
          "Maximum Buffer Size" : "1 MB",
          "Enable Canonical Equivalence" : "false",
          "Enable Case-insensitive Matching" : "false",
          "output" : "(\\A.+\\Z)",
          "Enable Multiline Mode" : "false",
          "Maximum Capture Group Length" : "1024",
          "Enable Literal Parsing of the Pattern" : "false",
          "Character Set" : "UTF-8",
          "Include Capture Group 0" : "true",
          "extract-text-enable-repeating-capture-group" : "false"
        },
        "propertyDescriptors" : {
          "Enable Unicode Predefined Character Classes" : {
            "displayName" : "Enable Unicode Predefined Character Classes",
            "identifiesControllerService" : false,
            "name" : "Enable Unicode Predefined Character Classes",
            "sensitive" : false
          },
          "Permit Whitespace and Comments in Pattern" : {
            "displayName" : "Permit Whitespace and Comments in Pattern",
            "identifiesControllerService" : false,
            "name" : "Permit Whitespace and Comments in Pattern",
            "sensitive" : false
          },
          "Enable Unicode-aware Case Folding" : {
            "displayName" : "Enable Unicode-aware Case Folding",
            "identifiesControllerService" : false,
            "name" : "Enable Unicode-aware Case Folding",
            "sensitive" : false
          },
          "Enable DOTALL Mode" : {
            "displayName" : "Enable DOTALL Mode",
            "identifiesControllerService" : false,
            "name" : "Enable DOTALL Mode",
            "sensitive" : false
          },
          "Enable Unix Lines Mode" : {
            "displayName" : "Enable Unix Lines Mode",
            "identifiesControllerService" : false,
            "name" : "Enable Unix Lines Mode",
            "sensitive" : false
          },
          "extract-text-enable-named-groups" : {
            "displayName" : "Enable named group support",
            "identifiesControllerService" : false,
            "name" : "extract-text-enable-named-groups",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Enable Canonical Equivalence" : {
            "displayName" : "Enable Canonical Equivalence",
            "identifiesControllerService" : false,
            "name" : "Enable Canonical Equivalence",
            "sensitive" : false
          },
          "Enable Case-insensitive Matching" : {
            "displayName" : "Enable Case-insensitive Matching",
            "identifiesControllerService" : false,
            "name" : "Enable Case-insensitive Matching",
            "sensitive" : false
          },
          "output" : {
            "displayName" : "output",
            "identifiesControllerService" : false,
            "name" : "output",
            "sensitive" : false
          },
          "Enable Multiline Mode" : {
            "displayName" : "Enable Multiline Mode",
            "identifiesControllerService" : false,
            "name" : "Enable Multiline Mode",
            "sensitive" : false
          },
          "Maximum Capture Group Length" : {
            "displayName" : "Maximum Capture Group Length",
            "identifiesControllerService" : false,
            "name" : "Maximum Capture Group Length",
            "sensitive" : false
          },
          "Enable Literal Parsing of the Pattern" : {
            "displayName" : "Enable Literal Parsing of the Pattern",
            "identifiesControllerService" : false,
            "name" : "Enable Literal Parsing of the Pattern",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include Capture Group 0" : {
            "displayName" : "Include Capture Group 0",
            "identifiesControllerService" : false,
            "name" : "Include Capture Group 0",
            "sensitive" : false
          },
          "extract-text-enable-repeating-capture-group" : {
            "displayName" : "Enable repeating capture group",
            "identifiesControllerService" : false,
            "name" : "extract-text-enable-repeating-capture-group",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExtractText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "4e5ca9ca-220f-394e-9f6f-3fa3e44ee7a3",
        "name" : "validate Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 88.0,
          "y" : -296.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "valide_Data" : "${output:equals(${output_test})}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "valide_Data" : {
            "displayName" : "valide_Data",
            "identifiesControllerService" : false,
            "name" : "valide_Data",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#ede85f"
        },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "83bb70ed-8d8d-37fe-ad6f-65b7ce55a6d5",
        "identifier" : "8c63414b-c7ab-31a0-8664-62598713a19e",
        "name" : "Invalid Data",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -168.0,
          "y" : 24.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#f06969"
        },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -3960.0,
          "y" : 3288.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
          "id" : "efabef26-3b6c-3d4d-b652-7695c81555bc",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "identifier" : "d449faaa-e4a5-30ae-8176-4671f648b2b4",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
          "id" : "535952b6-26cd-3745-bbf7-c589e3e91344",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
      "inputPorts" : [ {
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "identifier" : "60cfd5a2-f058-3d07-a718-a23a1bac7878",
        "name" : "input",
        "position" : {
          "x" : -4464.0,
          "y" : 2984.0
        },
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "name" : "PG1",
      "outputPorts" : [ {
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "identifier" : "6ebb4ec9-27ec-3ebf-832b-b1c5d51f8074",
        "name" : "output",
        "position" : {
          "x" : -4160.0,
          "y" : 2984.0
        },
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 696.0,
        "y" : 2360.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "identifier" : "efabef26-3b6c-3d4d-b652-7695c81555bc",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -3960.0,
          "y" : 3336.0
        },
        "properties" : {
          "Destination" : "flowfile-content",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "ip_address" : "$['message']",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "ip_address" : {
            "displayName" : "ip_address",
            "identifiesControllerService" : false,
            "name" : "ip_address",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d3e382bb-55c2-30be-981d-19ddcfff34a2",
        "identifier" : "535952b6-26cd-3745-bbf7-c589e3e91344",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4327.000867626333,
          "y" : 3333.000243126595
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "generate-ff-custom-text" : "{\"message\":\"Wed, 22 Jun 2022 17:49:15 +0200 | 169.254.1.1 | GET | /ga-sitv/_pdb.gif | ?v=1&_v=j96&a=234110528&t=event&ni=1&_s=6&dl=https%3A%2F%2Fwidsrv.vct.pgw.orange.fr%2Fleguidetv%2Findex.html%3Fpf%3Dprod%26entryPointName%3DLEGUIDETV&dp=%2Freplay%2Fhomepage&ul=en-us&de=UTF-8&dt=Replay&sd=24-bit&sr=1280x720&vp=1280x720&je=1&ec=enhanced%20ecommerce&ea=internal%20promotion%20impressions&el=Replay&_u=SCCAAEABAAAAAC~&cid=306096293.1642584149&tid=UA-82378354-80&_gid=37037847.1654539820&cd20=deskreplay&cd44=1&cd26=prod&cd47=0_1_RECO4U1--0_1_THEMATIC-0_1_THEMATIC-0_1_THEMATIC--&cd2=decodeur_tv&cd3=orange&cd6=whd94&cd7=sagem&cd8=01.78.91&cd9=IPTV_Fiber&promo1id=M6CU0141866S&promo1nm=inclus-catchup-6play%20I%20M6-S05%20-%209-1-1&promo1ps=stb-replay_homepage_notre-selection-pour-vous_0&promo2id=6TECU062265S&promo2nm=inclus-catchup-6play%20I%206ter-S03%20-%20Scorpion&promo2ps=stb-replay_homepage_notre-selection-pour-vous_1&promo3id=APOCU021952S&promo3nm=payant-catchup-Polar%2B-S02%20-%20PRETTY%20HARD%20CASES%20-%20SAISON%202&promo3ps=stb-replay_homepage_notre-selection-pour-vous_2&promo4id=FR3CU101994S&promo4nm=inclus-catchup-France%203-S03%20-%20Cassandre&promo4ps=stb-replay_homepage_notre-selection-pour-vous_3&promo5id=MY1CU156813S&promo5nm=inclus-catchup-MyTF1-S04%20-%20Demain%20nous%20appartient&promo5ps=stb-replay_homepage_notre-selection-pour-vous_4&promo6id=W9CU0057702S&promo6nm=inclus-catchup-6play%20I%20W9-Journal%20d%E2%80%99une%20ado%20hors%20norme&promo6ps=stb-replay_homepage_notre-selection-pour-vous_5&cd30=Sortie%20de%20service&z=1318851955 | 200 | - | Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0\"}",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "f7c399af-82ca-3f33-b91a-4a98535873a7",
          "name" : "Base64EncodeContent",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "3723c034-8179-31f2-bb2c-734a1ee8c54c",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "d59dc9c1-8cd1-3abd-81f4-335d683d28db",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "a99b8d1a-7f6d-3f96-bf67-f04f126e82ff",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "80fcc7a5-469a-363a-94c6-e552b0fa71bd",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "f7c399af-82ca-3f33-b91a-4a98535873a7",
          "name" : "Base64EncodeContent",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "458a9cfb-c6a3-3470-877b-6d7c962dd1af",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "360fab3c-c5ac-3c0b-b5e4-159c8c6df322",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "2aa261a3-2bbf-3f78-8c58-7e34d7e22d49",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e4b58099-2a8d-371f-92fe-86b3908f5bf9",
          "name" : "FetchDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "a7b20807-b577-305f-8fa7-310e89aeeef8",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "0f66132e-040d-3aa5-b498-8a8be5dce2db",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "68cfa532-25e9-3372-929b-36b36a03e163",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "85887074-3288-3548-b9a1-13c580abedf7",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "4b0d2cb1-fecd-3d39-8df3-268208fc79c0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e7ceda5f-1b4f-36cc-b064-accaed406754",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "82de9a16-fa10-3a02-8bb7-cd930e6d2336",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "3ebb28c9-35d2-3137-b3b7-2a0a4ee348f9",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -3974.204833984375,
          "y" : 1640.34326171875
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "511bc81e-120a-350c-8852-01bea518c67f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "5bdc920d-6278-3ce0-9a49-dabe2303165e",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "9908a800-3852-339e-8f53-3d1a744babe1",
          "name" : "PutDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "4b0d2cb1-fecd-3d39-8df3-268208fc79c0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "b6558b1f-d157-3ba9-9a38-3ba95b3b285c",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "a99b8d1a-7f6d-3f96-bf67-f04f126e82ff",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "845be8af-7743-3e69-b073-bdcd13781fdf",
          "name" : "PG1",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "c9fa588a-7075-33db-b522-df3753731a4f",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "route_PG1" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "458a9cfb-c6a3-3470-877b-6d7c962dd1af",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "eac5eebd-a726-381e-a67e-b89b3a20eaf9",
          "name" : "SplitText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "a401a289-1268-3b8d-8b1c-b23f93f774a2",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e9880764-36ff-3bf6-b77f-10e2ed495d57",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "9908a800-3852-339e-8f53-3d1a744babe1",
          "name" : "PutDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "546947da-5001-3629-af7a-59acf42e54c0",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "0bac1a03-a4c1-33dd-9547-d3cb5697cf8f",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -4246.204833984375,
          "y" : 2056.34326171875
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "ea2b0a88-7786-3221-beb8-9464b4471b4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "c43b6619-5f3e-3f52-a2d6-ba2b9e6b702c",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "not-found" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e4b58099-2a8d-371f-92fe-86b3908f5bf9",
          "name" : "FetchDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e0c91a3a-0bd0-3c18-a7d9-206458aa2e76",
          "name" : "MAIN_PG",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "4d8838a9-3a48-3aa2-b348-a5efd9f953ea",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "route_MainPG" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "458a9cfb-c6a3-3470-877b-6d7c962dd1af",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -4240.0,
          "y" : 1888.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "ea2b0a88-7786-3221-beb8-9464b4471b4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "1d9da64f-be98-393c-aa70-b7af8e6066dc",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e4b58099-2a8d-371f-92fe-86b3908f5bf9",
          "name" : "FetchDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "4b0d2cb1-fecd-3d39-8df3-268208fc79c0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "61ea2829-784b-3ae2-b396-b039d25af960",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "78a03ce8-084a-3199-9c61-b160fd73b3e5",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "8dd948bc-c984-39b2-abe3-31cfd68d2278",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "570dd006-2ac9-3da4-a98c-310b63b2ec60",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e4b58099-2a8d-371f-92fe-86b3908f5bf9",
          "name" : "FetchDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "f7cb4da3-b6bc-30c6-8801-b875544a4574",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "d9f6220d-737a-3514-92f7-ce41cd079eaf",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "splits" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "eac5eebd-a726-381e-a67e-b89b3a20eaf9",
          "name" : "SplitText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "2980726b-59ed-3cc2-b2c8-7c5af77c3a24",
          "name" : "PG2",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "38711fda-3c73-33c9-b74f-22ae43e942a5",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "route_PG2" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "458a9cfb-c6a3-3470-877b-6d7c962dd1af",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "2aa261a3-2bbf-3f78-8c58-7e34d7e22d49",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "73ffbb9d-3c47-3cc7-a9a5-3cb75b90aa2a",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e7ceda5f-1b4f-36cc-b064-accaed406754",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -3958.204833984375,
          "y" : 1800.34326171875
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "511bc81e-120a-350c-8852-01bea518c67f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "74c9d2a4-2ca5-3c4d-abfc-1ba052f1b12e",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "9908a800-3852-339e-8f53-3d1a744babe1",
          "name" : "PutDistributedMapCache",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "3ebb28c9-35d2-3137-b3b7-2a0a4ee348f9",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "55487a46-487d-3f4a-ab9a-43c3df4304eb",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "8dd948bc-c984-39b2-abe3-31cfd68d2278",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "68cfa532-25e9-3372-929b-36b36a03e163",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "2bd58afe-0144-37c2-bbf7-8d046c9cf497",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "f7c399af-82ca-3f33-b91a-4a98535873a7",
          "name" : "Base64EncodeContent",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "e9880764-36ff-3bf6-b77f-10e2ed495d57",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "9f1cfbfc-d03b-394e-9d5c-467d367ce64b",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
          "id" : "d59dc9c1-8cd1-3abd-81f4-335d683d28db",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "511bc81e-120a-350c-8852-01bea518c67f",
        "position" : {
          "x" : -3776.0,
          "y" : 1688.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "ea2b0a88-7786-3221-beb8-9464b4471b4b",
        "position" : {
          "x" : -3936.0,
          "y" : 1904.0
        }
      } ],
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
      "inputPorts" : [ ],
      "labels" : [ ],
      "name" : "PG Testing ",
      "outputPorts" : [ {
        "comments" : "",
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "845be8af-7743-3e69-b073-bdcd13781fdf",
        "name" : "PG1",
        "position" : {
          "x" : -5072.0,
          "y" : 3592.0
        },
        "type" : "OUTPUT_PORT"
      }, {
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "2980726b-59ed-3cc2-b2c8-7c5af77c3a24",
        "name" : "PG2",
        "position" : {
          "x" : -4632.0,
          "y" : 3584.0
        },
        "type" : "OUTPUT_PORT"
      }, {
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "e0c91a3a-0bd0-3c18-a7d9-206458aa2e76",
        "name" : "MAIN_PG",
        "position" : {
          "x" : -4192.0,
          "y" : 3568.0
        },
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 1120.0,
        "y" : 1936.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "9908a800-3852-339e-8f53-3d1a744babe1",
        "name" : "PutDistributedMapCache",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4464.0,
          "y" : 1664.0
        },
        "properties" : {
          "Cache Entry Identifier" : "id2",
          "Cache update strategy" : "replace",
          "Distributed Cache Service" : "d1601d7d-153f-3840-9165-9dabe589633d",
          "Max cache entry size" : "1 MB"
        },
        "propertyDescriptors" : {
          "Cache Entry Identifier" : {
            "displayName" : "Cache Entry Identifier",
            "identifiesControllerService" : false,
            "name" : "Cache Entry Identifier",
            "sensitive" : false
          },
          "Cache update strategy" : {
            "displayName" : "Cache update strategy",
            "identifiesControllerService" : false,
            "name" : "Cache update strategy",
            "sensitive" : false
          },
          "Distributed Cache Service" : {
            "displayName" : "Distributed Cache Service",
            "identifiesControllerService" : true,
            "name" : "Distributed Cache Service",
            "sensitive" : false
          },
          "Max cache entry size" : {
            "displayName" : "Max cache entry size",
            "identifiesControllerService" : false,
            "name" : "Max cache entry size",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#000000"
        },
        "type" : "org.apache.nifi.processors.standard.PutDistributedMapCache",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "0f66132e-040d-3aa5-b498-8a8be5dce2db",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -5344.0,
          "y" : 1880.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "10 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "d59dc9c1-8cd1-3abd-81f4-335d683d28db",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -6672.0,
          "y" : 1152.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "generate-ff-custom-text" : "{\"message\":\"Wed, 22 Jun 2022 17:49:15 +0200 | 169.254.1.1 | GET | /ga-sitv/_pdb.gif | ?v=1&_v=j96&a=234110528&t=event&ni=1&_s=6&dl=https%3A%2F%2Fwidsrv.vct.pgw.orange.fr%2Fleguidetv%2Findex.html%3Fpf%3Dprod%26entryPointName%3DLEGUIDETV&dp=%2Freplay%2Fhomepage&ul=en-us&de=UTF-8&dt=Replay&sd=24-bit&sr=1280x720&vp=1280x720&je=1&ec=enhanced%20ecommerce&ea=internal%20promotion%20impressions&el=Replay&_u=SCCAAEABAAAAAC~&cid=306096293.1642584149&tid=UA-82378354-80&_gid=37037847.1654539820&cd20=deskreplay&cd44=1&cd26=prod&cd47=0_1_RECO4U1--0_1_THEMATIC-0_1_THEMATIC-0_1_THEMATIC--&cd2=decodeur_tv&cd3=orange&cd6=whd94&cd7=sagem&cd8=01.78.91&cd9=IPTV_Fiber&promo1id=M6CU0141866S&promo1nm=inclus-catchup-6play%20I%20M6-S05%20-%209-1-1&promo1ps=stb-replay_homepage_notre-selection-pour-vous_0&promo2id=6TECU062265S&promo2nm=inclus-catchup-6play%20I%206ter-S03%20-%20Scorpion&promo2ps=stb-replay_homepage_notre-selection-pour-vous_1&promo3id=APOCU021952S&promo3nm=payant-catchup-Polar%2B-S02%20-%20PRETTY%20HARD%20CASES%20-%20SAISON%202&promo3ps=stb-replay_homepage_notre-selection-pour-vous_2&promo4id=FR3CU101994S&promo4nm=inclus-catchup-France%203-S03%20-%20Cassandre&promo4ps=stb-replay_homepage_notre-selection-pour-vous_3&promo5id=MY1CU156813S&promo5nm=inclus-catchup-MyTF1-S04%20-%20Demain%20nous%20appartient&promo5ps=stb-replay_homepage_notre-selection-pour-vous_4&promo6id=W9CU0057702S&promo6nm=inclus-catchup-6play%20I%20W9-Journal%20d%E2%80%99une%20ado%20hors%20norme&promo6ps=stb-replay_homepage_notre-selection-pour-vous_5&cd30=Sortie%20de%20service&z=1318851955 | 200 | - | Mozilla/5.0 (Windows NT 10.0; Win64; x64; rxv:78.0) Gecko/20100101 Firefox/78.0\"}",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "10 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "4b0d2cb1-fecd-3d39-8df3-268208fc79c0",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -5992.0,
          "y" : 1816.0
        },
        "properties" : {
          "Regular Expression" : "(.*)\\n",
          "Replacement Value" : "$1",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "10 MB",
          "Replacement Strategy" : "Regex Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "2aa261a3-2bbf-3f78-8c58-7e34d7e22d49",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4712.0,
          "y" : 3024.0
        },
        "properties" : {
          "type_data" : "test",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "type_data" : {
            "displayName" : "type_data",
            "identifiesControllerService" : false,
            "name" : "type_data",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "a99b8d1a-7f6d-3f96-bf67-f04f126e82ff",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -6032.0,
          "y" : 1616.0
        },
        "properties" : {
          "character-set" : "windows-1252",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "78a03ce8-084a-3199-9c61-b160fd73b3e5",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -6704.0,
          "y" : 1816.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "generate-ff-custom-text" : "eyJtZXNzYWdlIjoiV2VkLCAyMiBKdW4gMjAyMiAxNzo0OToxNSArMDIwMCB8IDE2OS4yNTQuMS4x\nIHwgR0VUIHwgL2dhLXNpdHYvX3BkYi5naWYgfCA/dj0xJl92PWo5NiZhPTIzNDExMDUyOCZ0PWV2\nZW50Jm5pPTEmX3M9NiZkbD1odHRwcyUzQSUyRiUyRndpZHNydi52Y3QucGd3Lm9yYW5nZS5mciUy\nRmxlZ3VpZGV0diUyRmluZGV4Lmh0bWwlM0ZwZiUzRHByb2QlMjZlbnRyeVBvaW50TmFtZSUzRExF\nR1VJREVUViZkcD0lMkZyZXBsYXklMkZob21lcGFnZSZ1bD1lbi11cyZkZT1VVEYtOCZkdD1SZXBs\nYXkmc2Q9MjQtYml0JnNyPTEyODB4NzIwJnZwPTEyODB4NzIwJmplPTEmZWM9ZW5oYW5jZWQlMjBl\nY29tbWVyY2UmZWE9aW50ZXJuYWwlMjBwcm9tb3Rpb24lMjBpbXByZXNzaW9ucyZlbD1SZXBsYXkm\nX3U9U0NDQUFFQUJBQUFBQUN+JmNpZD0zMDYwOTYyOTMuMTY0MjU4NDE0OSZ0aWQ9VUEtODIzNzgz\nNTQtODAmX2dpZD0zNzAzNzg0Ny4xNjU0NTM5ODIwJmNkMjA9ZGVza3JlcGxheSZjZDQ0PTEmY2Qy\nNj1wcm9kJmNkNDc9MF8xX1JFQ080VTEtLTBfMV9USEVNQVRJQy0wXzFfVEhFTUFUSUMtMF8xX1RI\nRU1BVElDLS0mY2QyPWRlY29kZXVyX3R2JmNkMz1vcmFuZ2UmY2Q2PXdoZDk0JmNkNz1zYWdlbSZj\nZDg9MDEuNzguOTEmY2Q5PUlQVFZfRmliZXImcHJvbW8xaWQ9TTZDVTAxNDE4NjZTJnByb21vMW5t\nPWluY2x1cy1jYXRjaHVwLTZwbGF5JTIwSSUyME02LVMwNSUyMC0lMjA5LTEtMSZwcm9tbzFwcz1z\ndGItcmVwbGF5X2hvbWVwYWdlX25vdHJlLXNlbGVjdGlvbi1wb3VyLXZvdXNfMCZwcm9tbzJpZD02\nVEVDVTA2MjI2NVMmcHJvbW8ybm09aW5jbHVzLWNhdGNodXAtNnBsYXklMjBJJTIwNnRlci1TMDMl\nMjAtJTIwU2NvcnBpb24mcHJvbW8ycHM9c3RiLXJlcGxheV9ob21lcGFnZV9ub3RyZS1zZWxlY3Rp\nb24tcG91ci12b3VzXzEmcHJvbW8zaWQ9QVBPQ1UwMjE5NTJTJnByb21vM25tPXBheWFudC1jYXRj\naHVwLVBvbGFyJTJCLVMwMiUyMC0lMjBQUkVUVFklMjBIQVJEJTIwQ0FTRVMlMjAtJTIwU0FJU09O\nJTIwMiZwcm9tbzNwcz1zdGItcmVwbGF5X2hvbWVwYWdlX25vdHJlLXNlbGVjdGlvbi1wb3VyLXZv\ndXNfMiZwcm9tbzRpZD1GUjNDVTEwMTk5NFMmcHJvbW80bm09aW5jbHVzLWNhdGNodXAtRnJhbmNl\nJTIwMy1TMDMlMjAtJTIwQ2Fzc2FuZHJlJnByb21vNHBzPXN0Yi1yZXBsYXlfaG9tZXBhZ2Vfbm90\ncmUtc2VsZWN0aW9uLXBvdXItdm91c18zJnByb21vNWlkPU1ZMUNVMTU2ODEzUyZwcm9tbzVubT1p\nbmNsdXMtY2F0Y2h1cC1NeVRGMS1TMDQlMjAtJTIwRGVtYWluJTIwbm91cyUyMGFwcGFydGllbnQm\ncHJvbW81cHM9c3RiLXJlcGxheV9ob21lcGFnZV9ub3RyZS1zZWxlY3Rpb24tcG91ci12b3VzXzQm\ncHJvbW82aWQ9VzlDVTAwNTc3MDJTJnByb21vNm5tPWluY2x1cy1jYXRjaHVwLTZwbGF5JTIwSSUy\nMFc5LUpvdXJuYWwlMjBkJUUyJTgwJTk5dW5lJTIwYWRvJTIwaG9ycyUyMG5vcm1lJnByb21vNnBz\nPXN0Yi1yZXBsYXlfaG9tZXBhZ2Vfbm90cmUtc2VsZWN0aW9uLXBvdXItdm91c181JmNkMzA9U29y\ndGllJTIwZGUlMjBzZXJ2aWNlJno9MTMxODg1MTk1NSB8IDIwMCB8IC0gfCBNb3ppbGxhLzUuMCAo\nV2luZG93cyBOVCAxMC4wOyBXaW42NDsgeDY0OyByeMKydjo3OC4wKSBHZWNrby8yMDEwMDEwMSBGaXJlZm94Lzc4LjAifQ==",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "eac5eebd-a726-381e-a67e-b89b3a20eaf9",
        "name" : "SplitText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -7688.0,
          "y" : 1392.0
        },
        "properties" : {
          "Remove Trailing Newlines" : "true",
          "Header Line Count" : "0",
          "Line Split Count" : "10"
        },
        "propertyDescriptors" : {
          "Remove Trailing Newlines" : {
            "displayName" : "Remove Trailing Newlines",
            "identifiesControllerService" : false,
            "name" : "Remove Trailing Newlines",
            "sensitive" : false
          },
          "Maximum Fragment Size" : {
            "displayName" : "Maximum Fragment Size",
            "identifiesControllerService" : false,
            "name" : "Maximum Fragment Size",
            "sensitive" : false
          },
          "Header Line Marker Characters" : {
            "displayName" : "Header Line Marker Characters",
            "identifiesControllerService" : false,
            "name" : "Header Line Marker Characters",
            "sensitive" : false
          },
          "Header Line Count" : {
            "displayName" : "Header Line Count",
            "identifiesControllerService" : false,
            "name" : "Header Line Count",
            "sensitive" : false
          },
          "Line Split Count" : {
            "displayName" : "Line Split Count",
            "identifiesControllerService" : false,
            "name" : "Line Split Count",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "458a9cfb-c6a3-3470-877b-6d7c962dd1af",
        "name" : "RouteOnAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4720.0,
          "y" : 3248.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "route_PG1" : "${idP:equals(\"a89a1c4c-0182-1000-9670-ec763ab59b23\")}",
          "route_PG2" : "${idP:equals(\"a85ec1b9-0182-1000-95ff-00c21b328907\")}",
          "route_MainPG" : "${idP:equals(\"39b534ad-c079-31d3-d88e-12a18378ce77\")}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "route_PG1" : {
            "displayName" : "route_PG1",
            "identifiesControllerService" : false,
            "name" : "route_PG1",
            "sensitive" : false
          },
          "route_PG2" : {
            "displayName" : "route_PG2",
            "identifiesControllerService" : false,
            "name" : "route_PG2",
            "sensitive" : false
          },
          "route_MainPG" : {
            "displayName" : "route_MainPG",
            "identifiesControllerService" : false,
            "name" : "route_MainPG",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "e7ceda5f-1b4f-36cc-b064-accaed406754",
        "name" : "JoltTransformJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4712.0,
          "y" : 2744.0
        },
        "properties" : {
          "jolt-spec" : "[{\n    \"operation\": \"shift\",\n    \"spec\": {\n        \"input\": \"input\"\n    }\n}\n ]",
          "jolt-transform" : "jolt-transform-chain",
          "pretty_print" : "false",
          "Transform Cache Size" : "1"
        },
        "propertyDescriptors" : {
          "jolt-spec" : {
            "displayName" : "Jolt Specification",
            "identifiesControllerService" : false,
            "name" : "jolt-spec",
            "sensitive" : false
          },
          "jolt-transform" : {
            "displayName" : "Jolt Transformation DSL",
            "identifiesControllerService" : false,
            "name" : "jolt-transform",
            "sensitive" : false
          },
          "jolt-custom-class" : {
            "displayName" : "Custom Transformation Class Name",
            "identifiesControllerService" : false,
            "name" : "jolt-custom-class",
            "sensitive" : false
          },
          "jolt-custom-modules" : {
            "displayName" : "Custom Module Directory",
            "identifiesControllerService" : false,
            "name" : "jolt-custom-modules",
            "sensitive" : false
          },
          "pretty_print" : {
            "displayName" : "Pretty Print",
            "identifiesControllerService" : false,
            "name" : "pretty_print",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "0bac1a03-a4c1-33dd-9547-d3cb5697cf8f",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -5112.0,
          "y" : 1656.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "generate-ff-custom-text" : "[{\"idP\":\"39b534ad-c079-31d3-d88e-12a18378ce77\",\"input\":\"8.8.8.8\",\"output\":\"Ashburn\"},{\"idP\":\"39b534ad-c079-31d3-d88e-12a18378ce77\",\"input\":\"9.9.9.9\",\"output\":\"Berkeley\"},{\"idP\":\"39b534ad-c079-31d3-d88e-12a18378ce77\",\"input\":\"24.48.0.1\",\"output\":\"Montreal\"},{\"idP\":\"a85ec1b9-0182-1000-95ff-00c21b328907\",\"input\":\"tokyo\",\"output\":\"87\"},{\"idP\":\"a85ec1b9-0182-1000-95ff-00c21b328907\",\"input\":\"Rabat\",\"output\":\"30\"},{\"idP\":\"39b534ad-c079-31d3-d88e-12a18378ce77\",\"input\":\"8.8.8.8\",\"output\":\"Madrid\"},{\"idP\":\"cf0b3883-42bb-1072-3fa6-3f0052545895\",\"input\":\"8.8.8.8\",\"output\":\"Tokyo\"},{\"idP\":\"a89a1c4c-0182-1000-9670-ec763ab59b23\",\"input\":\"8.8.8.8\",\"output\":\"Tokyo\"},{\"idP\":\"a89a1c4c-0182-1000-9670-ec763ab59b23\",\"input\":\"8.8.8.8\",\"output\":\"Tokyo\"}]",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "data_type" : "output",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "data_type" : {
            "displayName" : "data_type",
            "identifiesControllerService" : false,
            "name" : "data_type",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "10 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#000000"
        },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "f7c399af-82ca-3f33-b91a-4a98535873a7",
        "name" : "Base64EncodeContent",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -6080.0,
          "y" : 1344.0
        },
        "properties" : {
          "Mode" : "Encode"
        },
        "propertyDescriptors" : {
          "Mode" : {
            "displayName" : "Mode",
            "identifiesControllerService" : false,
            "name" : "Mode",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.Base64EncodeContent",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "e4b58099-2a8d-371f-92fe-86b3908f5bf9",
        "name" : "FetchDistributedMapCache",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4720.0,
          "y" : 1880.0
        },
        "properties" : {
          "Cache Entry Identifier" : "id2",
          "Distributed Cache Service" : "d1601d7d-153f-3840-9165-9dabe589633d",
          "Max Length To Put In Attribute" : "256",
          "Character Set" : "UTF-8"
        },
        "propertyDescriptors" : {
          "Cache Entry Identifier" : {
            "displayName" : "Cache Entry Identifier",
            "identifiesControllerService" : false,
            "name" : "Cache Entry Identifier",
            "sensitive" : false
          },
          "Put Cache Value In Attribute" : {
            "displayName" : "Put Cache Value In Attribute",
            "identifiesControllerService" : false,
            "name" : "Put Cache Value In Attribute",
            "sensitive" : false
          },
          "Distributed Cache Service" : {
            "displayName" : "Distributed Cache Service",
            "identifiesControllerService" : true,
            "name" : "Distributed Cache Service",
            "sensitive" : false
          },
          "Max Length To Put In Attribute" : {
            "displayName" : "Max Length To Put In Attribute",
            "identifiesControllerService" : false,
            "name" : "Max Length To Put In Attribute",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.FetchDistributedMapCache",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "e9880764-36ff-3bf6-b77f-10e2ed495d57",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -7128.0,
          "y" : 1368.0
        },
        "properties" : {
          "Destination" : "flowfile-content",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "message" : "$['message']",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "message" : {
            "displayName" : "message",
            "identifiesControllerService" : false,
            "name" : "message",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "8dd948bc-c984-39b2-abe3-31cfd68d2278",
        "name" : "SplitJson",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4720.0,
          "y" : 2208.0
        },
        "properties" : {
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$"
        },
        "propertyDescriptors" : {
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "68cfa532-25e9-3372-929b-36b36a03e163",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -5448.0,
          "y" : 1480.0
        },
        "properties" : {
          "character-set" : "windows-1252",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "3ebb28c9-35d2-3137-b3b7-2a0a4ee348f9",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -4712.0,
          "y" : 2488.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "idP" : "$[\"idP\"]",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "output_test" : "$[\"output\"]",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "idP" : {
            "displayName" : "idP",
            "identifiesControllerService" : false,
            "name" : "idP",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "output_test" : {
            "displayName" : "output_test",
            "identifiesControllerService" : false,
            "name" : "output_test",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.19.1"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "775a03b1-29c3-327b-bd72-a203e7cf6c41",
        "identifier" : "f7cb4da3-b6bc-30c6-8801-b875544a4574",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -7680.0,
          "y" : 1120.0
        },
        "properties" : {
          "character-set" : "windows-1252",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.19.1"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "d6de8b45-ac2d-3596-917f-045e40b59af8",
      "identifier" : "084d4ab3-3809-3e61-9c02-318fe256fe1b",
      "name" : "AttributesToCSV",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 960.0,
        "y" : 2016.0
      },
      "properties" : {
        "null-value" : "false",
        "include-core-attributes" : "true",
        "destination" : "flowfile-attribute",
        "include-schema" : "false"
      },
      "propertyDescriptors" : {
        "null-value" : {
          "displayName" : "Null Value",
          "identifiesControllerService" : false,
          "name" : "null-value",
          "sensitive" : false
        },
        "include-core-attributes" : {
          "displayName" : "Include Core Attributes",
          "identifiesControllerService" : false,
          "name" : "include-core-attributes",
          "sensitive" : false
        },
        "attributes-regex" : {
          "displayName" : "Attributes Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-regex",
          "sensitive" : false
        },
        "destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "destination",
          "sensitive" : false
        },
        "include-schema" : {
          "displayName" : "Include Schema",
          "identifiesControllerService" : false,
          "name" : "include-schema",
          "sensitive" : false
        },
        "attribute-list" : {
          "displayName" : "Attribute List",
          "identifiesControllerService" : false,
          "name" : "attribute-list",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToCSV",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : { }
  }
}